NODE_ENV=development
PORT=3000

# Auth0
SESSION_SECRET=345


DATABASE_URL="mysql://root@localhost:3306/nenopresser"
BASE_URL="http://localhost:3000"

WEB3_KEY="69ffgfjjhghkhj26c93739"
NEXT_PUBLIC_PAYSTACK_PUB_KEY='pk_test_4d73290887e91f8cbahfhfgfjjhjhc'

TWITTER_CONSUMER_KEY_NENOPRESS="gnzsfsffsfsfsfsD3eqOLCHkgYfz"
TWITTER_CONSUMER_SECRET_NENOPRESS="stDKIyp3pp0DfsfsfsfsIaig2rjR5dM6dwal56meHFk"
TWITTER_BEARER_TOKEN_NENOPRESS="AAjsfjsjfkjsfjskfsdfsdfsbjGq3RAOO8XikPjKUonOlvowJmwErrSR62S65CEKuP"
TWITTER_ACCESS_TOKEN_KEY_NENOPRESS="18668712161dfsdfssdsdfsd6000-X5fsdfsdfsfsIk57xEofo4"
TWITTER_ACCESS_TOKEN_SECRET_NENOPRESS="5g8dsfsdfssdsdfsfsVPjBqTbLVy"
TWITTER_CALLBACK_URL_NENOPRESS="http://localhost:3000/api/aouth/twitter/callback"

TWITTER_AOUTH_TWO_CLIENTID="MnlmNFfdsfsfsdfsfsfsdsfsfWo6MTpjaQ"
TWITTER_AOUTH_TWO_CLIENT_SECRET="V5MdfsfsEv7c8"

GOOGLE_API_KEY="AIfsdfsdfsfsfsfsfsfsssfhYITI"
GOOGLE_CSE_ID="94t456456456464hfghfghgfhf81584b4311"
SERPAPI_KEY="dsfsdfsfsfsfdfsdqsfsvvvvvvvvsfsfsfvvvvvvvvfsfwrewrrwrwrvvvvbsdsfffdb81c8"

NEXT_PUBLIC_LINKEDIN_CLIENT_ID="771kkvvffsfsffsfsfr"
LINKEDIN_CLIENT_ID="771kfsfsfsfsfsfkfsdfs"
LINKEDIN_CLIENT_SECRET="fsfsdfsfsfsfsfsfZ9a.Sw+XAw=="
NEXT_PUBLIC_LINKEDIN_REDIRECT_URI="http://localhost:3000/api/aouth/linkedin"
LINKEDIN_FINAL_AUTH_REDIRECT = "http://localhost:3000/linkedin"