NODE_ENV=development
PORT=3000

# Auth0
SESSION_SECRET=345


DATABASE_URL="mysql://root@localhost:3306/nenopresser"
BASE_URL="http://localhost:3000"

NEXT_PUBLIC_PAYSTACK_PUB_KEY='pk_test_4d73290887e91f8cbahfhfgfjjhjhc'



